[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nltk = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
plotly = "*"
nbformat = "*"
wordcloud = "*"
pyspark = "*"
spark-nlp = "*"
py4j = "*"
gensim = "*"
scipy = "*"
pyldavis = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
